services:
  comfy-ui:
    build:
      context: ../.
      dockerfile: Dockerfile/Dockerfile
    image: comfy-ui:v0.3.49
    container_name: comfy-ui
    volumes:
      - ../models/checkpoint:/ComfyUI/models/checkpoints
      - ../output:/ComfyUI/output
    working_dir: /ComfyUI
    tty: true
    ports:
      - "8188:8188"
    # entrypoint: sh -c "pip install comfy-cli && comfy install && python main.py --listen"

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]