services:
  comfy-ui:
    build:
      context: ../.
      dockerfile: Dockerfile/Dockerfile
    image: comfy-ui:v0.5.0
    container_name: comfy-ui
    volumes:
      - ../models/Illustrious/Checkpoint:/ComfyUI/models/checkpoints
      - ../models/Illustrious/LoRA:/ComfyUI/models/loras
      - ../output:/ComfyUI/output
    ports:
      - "8188:8188"
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
